

/* The Modal Background */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    font-family: 'Ubuntu Mono', monospace;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .project-description {
      font-family: 'Mandali', sans-serif;
      line-height: 1.5;
      font-size:15px;
      
  }

  /* Reusable Hide Class */
  .hide-element {
      visibility: hidden;
  }

/* === Home Page CSS === */
  .my-nav {
      background-color: white;
      border-bottom: solid 1px black;
  }

  .logo {
      color: black;
      font-size: 25px;
      font-weight: 600;
  }

  .nav-attr {
      color: black;
      padding:15px;
  }

  .title-center {
      background-image: url(https://wallpapercave.com/wp/wp2787778.jpg);
      background-size: cover;
      border-bottom: solid 1px black;
  }

  .page-title {
      padding: 200px;
      margin-top:90px;
      font-size:60px;
      color:rgb(255, 255, 255);
  }

.scrape-btn {
    color: white;
}

.news-div {
    border-bottom: solid 1px black;
    padding:10px;
}

.news-title {
    font-size: 30px;
    font-family: 'Ubuntu Mono', monospace;
}

.news-summary {
    font-size: 15px;
    font-family: 'Ubuntu Mono', monospace;
}

/* === anime.js css ===*/
.ml1 {
    font-weight: 900;
    font-size: 3.5em;
  }
  
  .ml1 .letter {
    display: inline-block;
    line-height: 1em;
  }
  
  .ml1 .text-wrapper {
    position: relative;
    display: inline-block;
    padding-top: 0.1em;
    padding-right: 0.05em;
    padding-bottom: 0.15em;
  }
  
  .ml1 .line {
    opacity: 0;
    position: absolute;
    left: 0;
    height: 3px;
    width: 100%;
    background-color: #fff;
    transform-origin: 0 0;
  }
  
  .ml1 .line1 { top: 0; }
  .ml1 .line2 { bottom: 0; }

  /* Article Manipulation */
  #body-input {
      width:80%;
  }

  .article-title {
      font-family: 'Ubuntu Mono', monospace;
      text-decoration: underline;
  }

  .comment {
    font-family: 'Ubuntu Mono', monospace;
    text-decoration: underline;
    font-size:25px;
  }

  @media screen and (max-width: 800px) {
    .page-title {
      font-size:40px;
    }
  }